#root, html, body{
  height:100vh
}

body{
  margin: 20px;
  color: #eaeaea;
}

*{
  box-sizing: border-box;
}

html{
  background-image: url('http://multiversitystatic.s3.amazonaws.com/uploads/2018/07/WSJ-071618-Featured-1000x700.jpg');

  scroll-behavior: smooth;
}

